<h1><%= @facebook_page.name %></h1>

<pre style="height: 200px;"><%= JSON.pretty_generate(@insights) %></pre>

<%= link_to 'Edit', edit_facebook_page_path(@facebook_page) %> |
<%= link_to 'Back', facebook_pages_path %>
